.content-block {
	padding: 16px 16px;
	max-width: 770px;
	background: white;

	@include media-up("md") {
		margin: 0px auto;
	}
}

.bg-grey {
	background: get-color("grey", "lighten-4");
}

.subhead {
	text-align: center;

	@include media-up("md") {
		font-size: 24px;
	}
}

.post-title {
	font-size: 24px;

	@include media-up("md") {
		font-size: 35px;
		text-align: center;
	}
}

.post-chapter-title-wrap {
	margin-top: 30px;
}

.post-chapter-number {
	text-align: center;
	font-weight: bold;
	color: get-color("grey", "darken-2");
}

.post-chapter-title {
	font-size: 20px;
	text-align: center;

	@include media-up("md") {
		font-size: 24px;
	}
}

.post-image-wrap {
	margin-bottom: 20px;

	img {
		max-width: 100%;
		height: auto;
	}

	@include media-up("md") {
		display: flex;
		justify-content: center;
	}
}

.right-image {
	@include media-up("md") {
		width: 45%;
		margin-left: 20px;
		float: right;
	}

	img {
		width: 100%;
	}
}

.clear {
	clear: both;
}

.fa-external-link-alt {
	margin-left: 8px;
}

%box {
	margin: 16px 8px;
	padding: 0px 16px 8px;

	@include media-up("md") {
		magrin: 16px;
	}
}

%box-title-area {
	display: flex;
	margin-bottom: 16px;
	padding: 8px 16px 8px 0px;
	font-size: 20px;
}

%box-name {
	display: flex;
	align-items: center;

	font-weight: bold;
	width: 220px;

	.box-icon {
		margin-right: 8px;
	}
}

%box-title {
	margin-left: 16px;
	margin-bottom: 0;
}

.post-tip {
	@extend %box;
	background: get-color("blue", "lighten-4");
}

.post-tip-title-area {
	@extend %box-title-area;
	border-bottom: 1px solid get-color("blue", "lighten-3");
}

.post-tip-name {
	@extend %box-name;
	color: get-color("blue", "darken-4");
}

.post-tip-title {
	@extend %box-title;
}

.post-note {
	@extend %box;
	background: get-color("yellow", "lighten-4");
}

.post-note-title-area {
	@extend %box-title-area;
	border-bottom: 1px solid get-color("orange", "lighten-3");
}

.post-note-name {
	@extend %box-name;
	color: get-color("yellow", "darken-4");
}

.post-note-title {
	@extend %box-title;
}

@mixin width() {
	width: 100%;

    @include media-up("md") {
		width: 750px;
	}
}

.content-section {
    @include width();

    &.white {
        background: white;
    }
}

.code-snippet-title-wrap {
    display: flex;
	margin-bottom: -.5em;
	background: white;
}

.code-snippet-csharp, .code-snippet-javascript {
    padding: 3px 12px;
    font-weight: bold;
    border-top-left-radius: 8px;
}

.code-snippet-csharp {
    color: get-color("indigo", "darken-4");
    background: get-color("indigo", "lighten-4");
}

.code-snippet-javascript {
    color: get-color("pink", "darken-4");
    background: get-color("pink", "lighten-4");
}

.code-snippet-title {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    font-weight: bold;
    border-top: 1px solid get-color("grey", "lighten-3");
}

code[class*="language-"] {
    tab-size: 2;
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-all;

    @include media-up("md") {
        tab-size: 4;
        font-size: 16px;
        white-space: pre;
        word-break: normal;
    }
}

.bg-grey {
	pre[class*="language-"] {
		background: #ffe;
	}
}

.goto {
	background: #ffd37d;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 16px;

	.fa-arrow-circle-right {
		margin-right: 8px;
	}
}

.step {
	margin-bottom: 16px;

	.step-number-wrap {
		width: 32px;
	}

	.step-number {
		float: left;
		text-align: center;

		color: white;
		background: #556fff;
		font-size: 20px;
		
		width: 32px;
		height: 32px;
		border-radius: 16px;
		line-height: 30px;

		margin-right: 8px;
	}
}

#comments {
    @include width();

    clear: both;
    margin: 1.5rem auto 0;
	padding: 0.5rem 0.5rem 0.5rem;
	border-top: 1px solid #ddd;

	@include media-up("md") {
		padding-left: 0;
		padding-right: 0;
	}
}

.comments-title {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
	display: none;
}

.comment-metadata {
	color: #767676;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.comment-metadata a {
	color: #767676;
}

.comment-metadata a.comment-edit-link {
	color: #222;
	margin-left: 1em;
}

.comment-body {
	color: #333;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 4em;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
	color: #888;
}

.comment-reply-link .icon {
	color: #222;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: right;
}

.commenter-info {

	@include media-up("md") {
		width: 40%;
	}
}

.comment-author, .comment-url, .comment-content {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
}

#submit {
	@extend %btn;

	margin-top: 10px;
	background-color: get-color("deep-orange");
}