//
// Block
//


.content-block {
	padding: 16px 16px;
	max-width: 770px;
	background: white;

	@include media-up("md") {
		margin: 0px auto;
	}
}

.bg-grey {
	background: get-color("grey", "lighten-4");
}

//
// Heads
//

.subhead {
	text-align: center;

	@include media-up("md") {
		font-size: 24px;
	}
}

.sectionhead {
	margin-top: 32px;
}

.post-title {
	font-size: 24px;

	@include media-up("md") {
		font-size: 35px;
		text-align: center;
	}
}

.post-chapter-title-wrap,
.post-section-title-wrap {
	margin-top: 30px;
}

.post-chapter-number,
.post-section-number, {
	text-align: center;
	font-weight: bold;
	color: get-color("grey", "darken-2");
}

.post-chapter-title,
.post-section-title {
	font-size: 20px;
	text-align: center;

	@include media-up("md") {
		font-size: 28px;
	}
}

//
// TOC
//

.toc {
	margin-bottom: 20px;
}

$series-toc-bg: #043e10;
$series-toc-title-color: #9feeaf;
$series-toc-border: 1px dotted #bdffcb; 

.series-toc {
	@extend .content-block;
	background: $series-toc-bg;
	color: white;

	&.show {
		.series-toc-current-chapter,
		.series-toc-see-all-chapters {
			display: none;
		}

		.series-toc-all-chapters {
			display: block;
		}

		.series-toc-sections-chapter-title {
			display: block;
			color: $series-toc-title-color;
			text-align: center;
			margin-bottom: 8px;
			font-size: 20px;

			@include media-up("md") {
				text-align: left;
				font-size: 24px;
			}
		}
	}
}

.series-toc-title {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: $series-toc-border;
}

.series-toc-name {
	text-align: center;
	color: $series-toc-title-color;
}

.series-toc-current-chapter {
	text-align: center;
}

.series-toc-see-all-chapters {
	text-align: right;
}

a.see-all-chapters {
	color: white;
	font-size: 0.8em;
}

.series-toc-all-chapters {
	display: none;
}

.series-toc-part {
	margin-bottom: 24px;
	padding-bottom: 16px;
	border-bottom: $series-toc-border;
}

.series-toc-part-name {
	margin-bottom: 16px;
	font-size: 20px;

	@include media-up('md') {
		font-size: 24px;
	}
}

.series-toc-chapters {
	@include media-up("md") {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.series-toc-chapter {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	&:hover {
		background: lighten($series-toc-bg, 20%);
	}

	span {
		color: white;
	}

	@include media-up("md") {
		flex-direction: column;
		padding: 15px;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}

.series-toc-chapter-icon {
	width: 48px;
	height: 48px;
	margin-right: 8px; 
	border-radius: 8px;

	@include media-up('md') {
		width: inherit;
		height: inherit;
		margin-bottom: 12px;
	}
}

.series-toc-chapter-number {
	display: none;

	@include media-up('md') {
		display: block;
		font-weight: bold;
		font-size: 0.9em;
		margin-bottom: 8px;
	}
}

.series-toc-sections {
	a {
		color: white;
	}
}

.series-toc-sections-chapter-title {
	display: none;
}

//
// Image
//

.post-image-wrap {
	margin-bottom: 20px;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}

	figcaption {
		font-size: .8em;
		color: #999;
	}
}

.right-image {
	@include media-up("md") {
		width: 45%;
		margin-left: 20px;
		float: right;
	}

	img {
		width: 100%;
	}
}

// 
// Button
//

%button {
	font-weight: 700;
	padding: 1px 12px;
	border-radius: 5px;
}

.key {
	@extend %button;

	background-color: #212133;
	color: white;
}

.button {
	@extend %button;

	background-color: #f1f1f1;
	color: black;
	border: 1px solid #3399ff;
}

//
// Link
//

.fa-external-link-alt {
	margin-left: 4px;
	font-size: .8em;
}

.text-center {
	text-align: center;
}


//
// Table
//

th {
	color: white;
	background-color: #3287a1;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #e8faff;
}

table {
	margin-bottom: 1rem;
}

td {
	padding: 8px;
}

td:before {
	display: none;
}


@media (max-width: 500px)  {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		margin-bottom: 4px;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 35%;
	}

	td:before {
		display: block;
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding: 8px;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}
}

//
// Share buttons
//

.share-buttons {
	@extend .content-block;

	display: flex;
	font-size: 24px;

	border: 1px solid black;
	border-left: none;
	border-right: none;
	margin-top: 20px;
}

.share-message {
	font-weight: bold;
}

.share-buttons-list {
	display: flex;
	list-style: none;
	margin-left: auto;

	li {
		margin-left: 20px;
	}
}

.sbtn-facebook i {
	color: #3B5998;
}

.sbtn-twitter i {
	color: #1da1f2;
}

.sbtn-linkedin i {
	color: #0077b5;
}

//
// Comments
//

#comments {
    clear: both;
    margin: 1.5rem auto 0;
	padding: 1rem 0.5rem 0.5rem;
	border-top: 1px solid #ddd;

	@include media-up("md") {
		padding-left: 0;
		padding-right: 0;
		width: 750px;
	}
}

.comment-list {
	list-style: none;
	padding-left: 0px;
}

.comment-body {
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 32px;
}

.comment-meta {
	margin-bottom: 16px;

	a {
		color: #803ecc;
	}
}

.commenter-image {
	margin-right: 8px;
}

.comment-content {
	word-break: break-word;	
}

.reply {
	text-align: right;
	padding-right: 20px;

	a {
		color: rgb(98, 115, 173);
	}
}

@keyframes focus {
    from {background-color: #8f9fff;}
    to {background-color: #fff;}
}

.focus-bg {
	animation: focus 1s ease-in-out 0s 2 alternate;
}

.children {
	margin-left: 24px;
}

.no-comment {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 0px 16px;
}

.comment-form-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-form {
	label {
		display: block;
		font-weight: bold;
		margin-bottom: 3px;
		font-size: 0.9em;
	}

	textarea, input {
		width: 100%;
	}
}

.comment-form-author, .comment-form-url, .comment-form-content {
	width: 100%;
	margin-top: 10px;
}

#submit {
	@extend %btn;

	width: 100%;
	margin-top: 24px;
	background-color: get-color("deep-orange");
}

//
// Page specific
//

.why-signup {
	img {
		border: 3px solid #999;
	}
}