<nav class="topnav">
    <div class="topnav-container">
        <a class="topnav-brand" rel="home" href="/" title="UnityCook main">UnityCook</a>
        <button class="topnav-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="topnav-toggler-icon fa fa-bars"></span>
        </button>
        <div class="topnav-collapse" id="navbarTogglerDemo02">
            <ul class="topnav-main-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>