<div class="content-block">
    <h1>Hmm... It seems that there was a mistake.</h1>
    <h2>We cannot find the page you're looking for.</h2>
    <img src="/img/404.png" title="Don't cry. I have a gift for you." alt="Don't cry. I have a gift for you."/>
    <p>But don't go back empty handed. I've prepared a gift for you. </p>
    <p>You can learn the differences between C# and JavaScript at a glance with this cheatsheet.</p>
    <button class="signup-button">Give me my cheatsheet!</button>
</div>
<div class="content-block">
    <h2>Or are you looking for my best contents?</h2>
    <a href="/csharp-for-js-devs">C# for JavaScript Developers</a>
</div>