<header class="front-page header">
    <div id="home" class="hero">
        <div class="hero-container">
            <div class="hero-message">
                <h2 class="hero-title">Make your dream game. Fast.</h2>
                <h3 class="hero-subhead">Enter your email below and don't miss my step-by-step game development tips.</h3>
            </div>
            <div class="hero-signup-box">
                <div class="hero-signup-form-wrap">
                    <form action="https://app.convertkit.com/forms/749433/subscriptions" class="seva-form formkit-form main-signup-form" method="post"  data-version="5" data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;redirect&quot;,&quot;success_message&quot;:null,&quot;redirect_url&quot;:&quot;https://unitycook.com/one-more-thing-to-do&quot;},&quot;modal&quot;:{&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:null},&quot;slide_in&quot;:{&quot;display_in&quot;:null,&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null}}}">
                        <input type="text" name="first_name" class="form-control" placeholder="your first name" required/>
                        <input type="email" name="email_address" class="form-control" placeholder="your@best-email.com" required/>
                        <input type="submit" class="btn-subscribe fields" value="Subscribe" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>