@import "main";

.bg-grey {
	background: inherit;
}

.hide {
    display: block;
}

.show-answer {
    display: none;
}

.signup-box {
    display: none;
}

.ebook-quiz-answers {
    margin: 20px 0;

    .quiz-section-title {
        margin-top: 20px;
    }
}

.ebook-oxa {
    margin-bottom: 16px;
}